extends layout

block content
  h1= title
  p Welcome to #{title}
  p As we said that #{subtitle}

  block content 
  h3 = "This is sample Express generator"

  block content 
  h5 = "This will help you to do the sample dynamic content data pass with static use case"




